<html>
    <head>
    	<title>Playlist</title>
    	<link rel="stylesheet" type="text/css" href="playlist2.css?r=010220182120" />
		<link rel="stylesheet" type="text/css" href="vue-datetime.css" />
		<link rel="stylesheet" type="text/css" href="modal.css" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    	<link rel="icon" href="pl-favicon.png" type="image/png"/>
    </head>
	<body>
	    <div class="main-block" id="playlist-app">
	     <div class="header-title">Playlist</div>
	     <div class="header">
			<div class="main-menu menu-item" v-on:click="toggleLeftMenu()"></div>
			<div class="left-menu" v-if="showLeftMenu">
				<div class="lm-item menu-item" v-on:click="latest()">Latest</div>
				<div class="lm-item menu-item" v-on:click="current()">Current</div>
				<div class="lm-item menu-item" v-on:click="archive">Archive</div>
				<div class="lm-item menu-item" v-on:click="openfile()">Add</div>
				<div class="lm-item menu-item" v-on:click="top100()">Top 100</div>
				<div class="lm-item menu-item" v-on:click="top10artists()">Top 10 Artists</div>
				<div class="lm-item menu-item delete-menu-item" v-on:click="confirm_delete()">Delete</div>
			</div>
			<div class="date-block">
				<div class="pl-prev menu-item" v-on:click="move('left')"></div>
				<datetime id="pl_date" v-model="actual_date" ref="picker" v-if="mode == 'main'"></datetime>
				<select id="pl_year" v-if="mode == 'top100' || mode == 'top10artists'" v-model="top100year">
					<option v-for="year in years_array" :value="year">{{year}}</option>
				</select>
				<div class="pl-calendar menu-item" v-if="mode == 'main'" v-on:click="archive"></div>
				<div class="pl-next menu-item" v-on:click="move('right')"></div>
			</div>
			<div class="pl-upload menu-item" title="Add playlist" v-on:click="openfile()"></div>
	     </div>
	     <div id="playlist-content" class="list" v-bind:class="{ list : true, 'pl-loading' : loading}">
			<div v-if="dragover" class="pl-dragover"></div> 
			<playlist v-if="!loading && playlist.length && mode == 'main'" v-bind:list="playlist"></playlist>
			<song v-if="mode == 'top100' && !loading && top100data.length" 
						   v-for="(item, index) in top100data" 
						   v-bind:item="item" 
						   v-bind:num="index" 
						   v-bind:mode="mode">
		 	</song>
			<song v-if="mode == 'top10artists' && !loading && top10data.length" 
						   v-for="(item, index) in top10data" 
						   v-bind:item="item" 
						   v-bind:num="index" 
						   v-bind:mode="mode">
			</song>
	     </div>
		 <input type="file" id="pl_file" style="display:none;" v-on:change="changefile()" ref="pl_file"/>
			<modal :show="confirmDelete || errorTxt" 
					:confirmdelete="confirmDelete" 
					:errortxt="errorTxt" 
					:actualdate="actualDate"
					:deletepassword="''"
					@close="showModal = false; errorTxt = false; confirmDelete = false"
					@delete="delete_playlist">
			</modal>
		</div>

		<script type="x/template" id="playlist">
			<div>
				<sublist v-bind:list="list" v-bind:score="47" v-bind:title="'A-List'"></sublist>
				<sublist v-bind:list="list" v-bind:score="28" v-bind:title="'B-List'"></sublist>
				<sublist v-bind:list="list" v-bind:score="23" v-bind:title="'C-List'"></sublist>
			</div>
		</script>

		<script type="x/template" id="sublist">
			<div>
				<div class="list-title">{{title}}</div>
				<song v-for="item in list" v-if="item.score == score" v-bind:item="item" v-bind:mode="'main'"></song>
			</div>
		</script>

		<script type="x/template" id="song">
			<div class="list-item">
				<div v-if="mode=='main'" v-bind:class="['item-info', item.item_class ? item.item_class : '']"></div>
				<div v-if="mode!='main'" class="item-info top100">{{num + 1}}</div>
				<div v-bind:class="['item-main', mode=='main'? 'item-mr' : '']">
					<div class="artist" v-html="item.artist"></div>
					<div class="song" v-html="item.title"></div>
				</div>
				<div class="item-info total" v-if="mode=='top100'">{{item.total}}</div>
				<div class="item-info total" v-if="mode=='top10artists'">{{item.artist_total}}</div>
				<div class="item-info top100" v-if="mode=='top10artists'">{{item.songs}}</div>
			</div>
		</script>
		
		<script type="x/template" id="modal-template">
			<transition name="modal">
				<div class="modal-mask" @click="close" v-show="show">
					<div class="modal-container" @click.stop>
						<div class="modal-header">
							<h3 v-show="confirmdelete">Delete playlist</h3>
							<h3 v-show="errortxt">Error</h3>
						</div>
						<div class="modal-body">
							<span v-show="errortxt">{{errortxt}}</span>
							<span v-show="confirmdelete">Are you sure you want to delete playlist dated {{actualdate}}?</span>
							<label class="form-label" v-if="confirmdelete">
								Enter password to delete:
								<input class="form-control" v-model="deletepassword">
							</label>
						</div>
						<div class="modal-footer text-right">
							<button v-show="errortxt" class="modal-default-button" @click="close()">
								OK
							</button>
							<button v-show="confirmdelete" class="modal-default-button" @click="deletePlaylist()">
								Delete
							</button>
							<button v-show="confirmdelete" class="modal-default-button" @click="close()">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</transition>
		</script>
	    
	    <script type="text/javascript" src="vue-2.5.13.js"></script>
	    <script type="text/javascript" src="luxon.min.js"></script>
	    <script type="text/javascript" src="vue-datetime.js"></script>
	    <script type="text/javascript" src="jquery.min.3.1.1.js"></script>
	    <script type="text/javascript" src="moment.min.2.18.1.js"></script>
	    <script type="text/javascript" src="playlist.js?r=170520181650"></script>	
	</body>
</html>
