.calendar-main {
  font-family: "Arial";
  background-color: #ffffcc;
  position: absolute;
  z-index: 3;
}

.calendar-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.calendar-close {
 	width: 6%;
 	height: 8%;
 	text-align: center;
 	line-height: 150%;
 	cursor: pointer;
}

.calendar-close:hover {
	background-color: #eeeebb;
}

.month-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 72%;
}

.month-prev, .month-next, .month-prevprev, .month-nextnext, .month-name, .calendar-year {
  background-color: white;
  height: 11%;
  margin: 1.4%;
  text-align: center;
  line-height: 183%;
}

.month-prev, .month-next, .month-prevprev, .month-nextnext {
  width: 11%;
  cursor: pointer;
}

.month-name {
  width: 42%;
}

.calendar-year {
	width: 18%;
}

.calendar-daynames {
	width: 100%;
	margin: 0.4%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
   -webkit-box-pack: left;
       -ms-flex-pack: left;
           justify-content: left;
}

.calendar-daynames .dayname {
	background-color: #ffffcc;
	width: calc(100% * (1/7) - 7px);
    height: 11%;
    margin: 0.4%;
    line-height: 150%;
    text-align: center;
}

.calendar-days {
  width: 100%;
  height: 73%;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.calendar-days .day-item {
  background-color: white;
  cursor: pointer;
  width: calc(100% * (1/7) - 7px);
  height: 14.5%;
  margin: 0.4%;
  line-height: 183%;
  text-align: center;
}

.calendar-days .day-item.current {
	background-color: #eeeeee;
}

.calendar-main .nodisplay {
	background-color: #ffffcc;
	cursor: default;
}