html, body {
  background-color: #cccccc;
  font-family: "Verdana";
  text-align:center;
  margin: 0;
}

html {
	min-height: 100%;
}

body {
	height: 100%;
}

.main-block {
	margin: 0 auto;
	background-color: #333333;
	text-align: center;
	padding-bottom: 10px;
	
}

.pl-dragover {
	background-color: rgba(85,85,85,0.5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	font-size: 30px;
	padding-top: 50px;
	color: #dddddd;
}

.pl-dragover:before {
	content: "Drop playlist file to upload";
	position: fixed;
}

.header-title {
	color: #bbbbbb;
	font-size: 24px;
	text-align: center;
	width: 100%;
	background-color: #444444;
	height: 40px;
	padding-top: 20px;
}

.header {
	width: 100%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	color: #bbbbbb;
	font-size: 24px;
	background-color: #444444;
	padding: 5px 0;
}

@media screen and (min-width: 1263px) {
	.main-block {
		width: 1263px;
	}
}

@media screen and (max-width: 1263px) {
	.main-block {
		width: 100%;
	}
}

@media screen and (min-width: 800px) {
	.header {
		height: 50px;
	}
}

@media screen and (max-width: 800px) {
	.header-title {
		display: none;
	}
}

@media screen and (max-width: 800px) and (orientation: landscape) {
	.header {
		height: 9vw;
	}
}

@media screen and (max-width: 800px) and (orientation: portrait) {
	.header {
		height: 9vh;
	}
}

.left-menu {
	position: absolute;
	background-color: #444444;
}

@media screen and (min-width: 800px) {
	.main-menu {
		width: 225px;
		font-size: 20px;
	}
	
	.main-menu:before {
		content: "PLAYLIST MENU";
	}
	
	.left-menu {
		top: 56px;
		left: 0;
	}
	
	.lm-item {
		width: 225px;
		height: 50px;
		margin: 5px 5px 5px 0;
		line-height: 50px;
		font-size: 22px;
	}
}

@media screen and (max-width: 800px) and (orientation: landscape) {

	.main-menu {
		background-size: 7vw 7vw;
		background-position: 1vw 1vw;
		background-repeat: no-repeat;
		background-image: url('menu.png');
	}
	
}

@media screen and (max-width: 800px) and (orientation: portrait) {

	.main-menu {
		background-size: 7vh 7vh;
		background-position: 1vh 1vh;
		background-repeat: no-repeat;
		background-image: url('menu.png');
	}
	
}

@media screen and (max-width: 800px) and (orientation: landscape) {
	
	.left-menu {
		top: 9.9vw;
		left: 0;
	}
	
	.lm-item {
		width: 36vw;
		height: 8vw;
		margin: 0.5vw 0.5vw 0.5vw 0;
		line-height: 8vw;
		font-size: 4vw;
	}
}

@media screen and (max-width: 800px) and (orientation: portrait) {
	
	.left-menu {
		top: 9.9vh;
		left: 0;
	}
	
	.lm-item {
		width: 36vh;
		height: 8vh;
		margin: 0.5vh 0.5vh 0.5vh 0;
		line-height: 8vh;
		font-size: 4vh;
	}
}

.lm-item {
	background-color: #313131;
	cursor:pointer;
}

.vh-menu {
	visibility: hidden;
}

.pl-prev, .pl-next, .pl-up, .pl-down {
	background-image: url('triangle.png');
}

.pl-prev {
	-webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.pl-next {
	-webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}	

.pl-down {
	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.pl-new {
	background-image: url('star.png');
}

.pl-calendar, .pl-upload, .pl-new, .pl-up, .pl-down, .pl-prev, .pl-next {
		background-repeat: no-repeat;
	}

.pl-new {
		background-size: 64% auto;
		background-position: 50% 50%;
	}
	
.pl-up, .pl-down {
	background-size: 74% auto;
	background-position: 50% 50%;
}
	
@media screen and (min-width: 800px) {
	.pl-calendar, .pl-upload, .pl-prev, .pl-next {
		background-size: 40px 40px;
		background-position: 5px 5px;
	}
}

@media screen and (max-width: 800px) and (orientation: landscape) {
	.pl-calendar, .pl-upload, .pl-prev, .pl-next {
		background-size: 7vw 7vw;
		background-position: 1vw 1vw;
	}
}

@media screen and (max-width: 800px) and (orientation: portrait) {
	.pl-calendar, .pl-upload, .pl-prev, .pl-next {
		background-size: 7vh 7vh;
		background-position: 0.6vh 0.6vh
	}
}

.pl-calendar {
	background-image: url('calendar-icon.png');
}

.pl-upload {
	background-image: url('upload-icon.png');
}

.main-menu, .pl-prev, .pl-next, .pl-calendar, .pl-upload {
	background-color: #313131;
	cursor: pointer;
	color: #bbbbbb;
	margin-right: 7px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}

@media screen and (min-width: 800px) {
	.pl-prev, .pl-next, .pl-calendar, .pl-upload {
		width: 50px;
		font-size: 30px;
	}
	
	.date-block {
		margin-left: -125px;
	}
}

@media screen and (max-width: 800px) {
	.pl-prev, .pl-next {
		display: none;
		width: 0;
	}
}

@media screen and (max-width: 800px) and (orientation: landscape) {
	
	.main-menu, .pl-prev, .pl-next, .pl-calendar, .pl-upload {
		width: 9vw;
		font-size: 6vw;
	}
}

@media screen and (max-width: 800px) and (orientation: portrait) {
	
	.main-menu, .pl-prev, .pl-next, .pl-calendar, .pl-upload {
		width: 9vh;
		font-size: 6vh;
	}
}

.pl-upload {
	margin: 0!important;
}

.date-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

input#pl_date, select#pl_year {
	background-color: #313131;
	color: #bbbbbb;
	border: 0;
	text-align: center;
}

@media screen and (max-width: 800px) and (orientation: landscape) {
	input#pl_date, select#pl_year {
		width: 36vw;
		height: 9vw;
		font-size: 5vw;
		padding: 2vw;
	}
}

@media screen and (max-width: 800px) and (orientation: portrait) {
	input#pl_date, select#pl_year {
		width: 30vh;
		height: 9vh;
		font-size: 4.4vh;
		padding: 2vh;
	}
}

@media screen and (min-width: 800px) {
	.list {
		max-width: 800px;
	}
	
	input#pl_date, select#pl_year {
		width: 270px;
		height: 50px;
		font-size: 26px;
		padding: 7px;
	}
}

.list {
    width: 100%;
    margin: 0 auto;
}

.list-title {
	text-align:left;
    font-size: 22px;
    font-weight: normal;
    color: #bbbbbb;
    margin:30px 0 5px 12px;
}

.list-item {
  width: 100%;
  margin-bottom:5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.item-info {
    width: 60px;
	margin: 0 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #181818;
	font-size: 36px;
}

.item-info.top100 {
	font-size: 21px;
	color: #cccccc;
	font-weight: bold;
}

.item-info.total {
	font-size: 16px;
	width: 90px;
	color: #cccccc;
	font-weight: normal;
}

.item-main {
	width:100%;
	background-color: #181818;
    text-align:left;
    padding: 4px 7px 7px 7px;
    margin-right: 5px;
}

.artist {
  font-weight: bold;
  font-size: 20px;
  color: #cccccc;
  /*margin: 7px 0 0 7px;*/
}

.song {
  font-size: 16px;
  color: #16EE47;
  /*margin: 0 0 7px 7px;*/
  font-weight: normal;
}

.pl-loading {
	background-image: url('loading-icon.gif');
	background-position: 50% 0%;
	background-repeat: no-repeat;
	height: 500px;
}